<footer>
	<div class="wrap">
		<div class="head">
			<div class="logo info">
				<a href="/" class="foodies"><img src="/css/font/Foodies-2.svg" alt=""></a>
			</div>
			<div class="info">
				<h3>Sitemap</h3>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Restaurants</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="info">
				<h3>Business</h3>
				<ul>
					<li><a href="/register">Add Restaurant</a></li>
					<li><a href="#">Business Order Guidlines</a></li>
					<li><a href="#">Orders</a></li>
					<li><a href="#">Advertise</a></li>
				</ul>
			</div>
			<div class="info">
				<h3>Partner With Us</h3>
				<ul>
					<li><a href="/register">For Restaurant</a></li>
					<li><a href="/driver">For Driver</a></li>
					<li>
						<span>facebook</span>
						<span>instagram</span>
						<span>whatsapp</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<span><a href="#">Privacy</a></span>
			<span><a href="#">Terms and Conditions</a></span>
			<span><a href="#">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" class="me" target="_blank">Dzineku king David</a></a></span>
		</div>
	</div>
</footer>