<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Foodies</title>
	<link rel="shortcut icon" href="images/logo/fav_invert.jpg" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/font/flaticon.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> -->
	<!-- <script src="js/main.js" defer/></script> -->
</head>