<header>
		<div class="wrap">
			<div id="logo">
				<!-- <div class="logo-img">
					<img src="images/logo/fav_invert.jpg" alt="">
				</div> -->
				<div class="logo-text">
					<div>
						<div class="company">Foodies Order Online</div>
						7239 Uenr berlin
					</div>
				</div>
			</div>
			<div class="working-days">
				<div class="number">(+233)54-5058-937</div>
				<div class="openings">
					<span class="open">Open</span>
					<span class="close-at" >- Closes at 10PM</span>
				</div>
			</div>
		</div>
	</header>