nav{
	width: 100%;
	background: #f3f3f3;

	.wrap{
		max-width: 1100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;

		div{

			a{
			text-decoration: none;
			color: #000;

			&:hover{
				text-decoration: underline;
			}

			}

			span{
				color: orange;
			}

		}
	}
}



.reg-form{
	width: 100%;
	margin-top: 30px;

	.wrap{
		max-width: 1100px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;

		.reg-title{
			display: flex;

			img{
				width: 35px;
				height: 35px;
				align-items: center;
				padding-top: 5px;
				padding-right: 10px;


			}


		}


		.register-form{
			width: 60%;

			form{

				.contact-info{
					margin-top: 30px;
				}
				

				.form{
					display: flex;
					flex-direction: column;
					margin: 20px 0px;

					

					input{
						margin-top: 6px;
						height: 30px;
						border: 2px solid #f3f3f3;
						width: 400px;
						outline: none;
						border-radius: 5px;
						padding-left: 10px;

					}
				}

				.check{
					display: flex;
					flex-direction: column;
					margin: 20px 0px;

					div{
						display: flex;
						margin-top: 5px;


						div{
							padding-right: 30px;


							label{
								padding-left: 10px;
								font-size: 11px !important;
							}
						}
					}
				}

				.avaliable{
					display: flex;
					align-items: center;
					

					.form{
						margin-right: 40px;

						.dropdown{
							width: 120px;
							position: relative;

							&::before{
								content: '';
								position: absolute;
								top: 18px;
								right: 20px;
								border:8px solid;
								border-color: #f3f3f3  transparent transparent transparent;
							}

							.default-option{
								padding: 9px 15px;
								border: 2px solid #f3f3f3;
							}

							ul{
								position: absolute;
								top: 32px;
								left: 0;
								background: #fff;
								width: 110px;
								border-radius: 5px;
								padding: 20px;
								box-shadow: 2px 2px 8px #f3f3f3;
								margin-right:5px ;
								display: none;

								li{
									list-style: none;
									padding-bottom: 8px;



								}

								li:last-child{
									padding-bottom: 0px;
								}
							}
						}
					}

					.add-time{
						text-align: center;
						width: 100px;
						text-decoration: none;
						color: #fff;
						background: orange;
						padding: 8px 13px;
						margin-top: 17px;
						border-radius: 5px;

						&:hover{
							background: rgba(255, 165, 0,.8);
						}


					}
				}
			}

			.button{
				border: none;
				outline: none;
				cursor: pointer;
			}
			.add-restaurant{
						text-align: center;
						width: 300px;
						text-decoration: none;
						color: #fff;
						background: orange;
						padding: 10px 13px;
						border-radius: 5px;
						margin-top: 40px;
						margin-left: 30px;
						display: block;
						border: none;
						outline: none;

						&:hover{
							background: rgba(255, 165, 0,.8);
						}
					}
		}

		.reg-detail{
			width: 40%;

			div{
				margin-top: 40px;
				
				p{
					font-size: 12px;
				}
			}


		}
	}
}


.pay{
	margin-bottom: 30px;
}
