<%-include("./../includes/head")%>
<body>
	<%-include("./../includes/header")%>

	<section class="intro">
		<div class="wrap">
			<div class="faded"></div>
			<div class="quote-slide">
					<h3>foodies</h3>
					<h1 class="quote-head">nutrition & tasty</h1>
				</div>
				
			<div class="order-type">
				<div class="orders">
					<div class="intro-head">choose order type</div>
					<div class="order-option">
						<ul>
				 		<li>
						    <input id="r1" type="radio" name="radio" value="1">
						    <label for="r1">Pick-up</label>
				 		 </li>
						  <li>
						    <input id="r2" type="radio" name="radio" value="2" checked>
						    <label for="r2">Delivery</label>
						  </li>
						  </ul>

						  <div class="timing">
						  	<a href="#">1:50 PM (ASAP)</a>
						  	<a href="#">start order</a>
						  </div>

						  <div class="view-more">
						  	<a href="#">view menu</a>
						  	<span>or</span>
						  	<a href="#">buy gift card</a>
						  </div>
					</div>
				</div>
				<div class="map-logo">
					<img src="images/display.jpg" alt="">
				</div>
			</div>
		</div>
	</section>

<section class="work-section">
	<div class="wrap">
		<div class="location-div">
			<span class="loc-title">Location</span>
			<div class="street">
				<p>Fiapre Street UENR B.A</p>
				<div><span>-Driving Direction</span> <span>/</span> <span>3.23km</span></div>
				<p>(+233)54-505-8937</p>
			</div>
		</div>
		<div class="days-div">
			<span class="day-title">today's hours</span>
			<div class="hours">
				<p class="pick-up">
					<span>pick-up</span>
					<span>10:00 am -  9:00pm</span>
				</p>
				<p class="pick-up"> 
					<span>delivery</span>
					<span>11:00am - 8:00pm</span>
				</p>
				<a href="#">see full schedules</a>
			</div>
		</div>
	</div>

</section>



	
</body>
</html

	