<%- include('./../includes/head')%>
<body>
<%- include('./../includes/header')%>
<section id="timeline">
		<div class="tl-item">
			<div class="tl-bg" style="background-image: url(/images/chef-4.jpg)"></div>

			<div class="tl-year">
				<p class="f2 heading">Partnership</p>	
			</div>

			<div class="tl-content">
				<h1>Do you want to partner with us</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam sunt repellendus porro laboriosam earum, similique obcaecati, perspiciato.</p>
				<a href="#">Partner Now</a>
			</div>
		</div>

		<div class="tl-item">
			<div class="tl-bg" style="background-image: url(/images/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg)"></div>

			<div class="tl-year">
				<p class="f3 heading">User</p>	
			</div>

			<div class="tl-content">
				<h1>Join as a user</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam sunt repellendus porro laboriosam earum, similique obcaecati, .</p>
				<a href="all/signup">Signup Now</a>
			</div>
		</div>

		<div class="tl-item">
			<div class="tl-bg" style="background-image: url(/images/display.jpg)"></div>

			<div class="tl-year">
				<p class="f2 heading">Restaurant</p>	
			</div>

			<div class="tl-content">
				<h1>Are you a restaurant?</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam sunt repellendus porro laboriosam earum, similique obcaecati, perspiciatiso.</p>
				<a href="/register">Register</a>
			</div>
		</div>

		<div class="tl-item">
			<div class="tl-bg" style="background-image: url(/images/photography-of-person-walking-on-road-1236701.jpg)"></div>

			<div class="tl-year">
				<p class="f3 heading">Driver</p>	
			</div>

			<div class="tl-content">
				<h1>Are you a driver?</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam sunt repellendus porro laboriosam earum, similique obcaecati, perspic</p>
				<a href="/driver">Register</a>
			</div>
		</div>
	</section>